
@{
    ViewBag.Title = "ChartHeader";
    Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery/common")
<div class="swiper-container topcontents mt-3 mb-3" style="margin-top: 0px !important; padding-left: 10px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active">
            <div class="header-VN-Index-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-VN-Index-unit unit"><a href="/" target="_top">VnIndex</a></span>
                        <span class="header-VN-Index-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-VN-Index-change unit"></span>
                        <span class="header-VN-Index-per-change"></span>
                    </div>
                </div>
                <div id="chart-VnIndex" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>
        <div class="swiper-slide swiper-slide-next">
            <div class="header-HNX-Index-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-HNX-Index-unit unit"><a href="/" target="_top">HnxIndex</a></span>
                        <span class="header-HNX-Index-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-HNX-Index-change unit"></span>
                        <span class="header-HNX-Index-per-change"></span>
                    </div>
                </div>
                <div id="chart-HnxIndex" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="header-UPCOM-Index-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-UPCOM-Index-unit unit"><a href="/" target="_top">UPCoM</a></span>
                        <span class="header-UPCOM-Index-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-UPCOM-Index-change unit"></span>
                        <span class="header-UPCOM-Index-per-change"></span>
                    </div>
                </div>
                <div id="chart-UpcomIndex" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="header-DJI-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-DJI-unit unit">DJI</span>
                        <span class="header-DJI-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-DJI-change unit"></span>
                        <span class="header-DJI-per-change"></span>
                    </div>
                </div>
                <div id="chart-header-world-mobile_DJI" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="header-N225-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-N225-unit unit">N225</span>
                        <span class="header-N225-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-N225-change unit"></span>
                        <span class="header-N225-per-change"></span>
                    </div>
                </div>
                <div id="chart-header-world-mobile_N225" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="header-HSI-color d-flex">
                <div class="m-auto">
                    <div class="d-flex">
                        <span class="header-HSI unit">HSI</span>
                        <span class="header-HSI-price"></span>
                    </div>
                    <div class="d-flex">
                        <span class="header-HSI-change unit"></span>
                        <span class="header-HSI-per-change"></span>
                    </div>
                </div>
                <div id="chart-header-world-mobile_HSI" style="height: 60px; width: 70px; ">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadData() {
        var isMobile = $("body").hasClass("mobile");
        if (isMobile) {
            CommonIndex.loadHeaderIndex();
            CommonIndex.loadDataChartWorldMobile("DJI");
            CommonIndex.loadDataChartWorldMobile("N225");
            CommonIndex.loadDataChartWorldMobile("HSI");
            CommonIndex.loadDataChartHeaderMobile("chart-VnIndex", "VN-Index");
            CommonIndex.loadDataChartHeaderMobile("chart-HnxIndex", "HNX-Index");
            CommonIndex.loadDataChartHeaderMobile("chart-UpcomIndex", "UPCOM-Index");
        }
    }
    loadData();
    if (CommonHelper.isInTransactionTime()) {
        setInterval(() => {
            loadData();
        }, 60 * 1000);
    }
    var swiper = new Swiper(".topcontents", {
        slidesPerView: "auto",
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
