
@{
    ViewBag.Title = "SearchBox";
    Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery/common")

<div class="c-search">
    <div class="c-search__inner custom-autocomplete">
        <select class="form-control txt-keyword-header" name="state" style="width: 100%;"></select>
        <button class="c-search__btn btn-header-mobile-search" type="button" style="padding-top: 10px;">
            <i class="icon16-search"></i>
        </button>
    </div>
</div>
<script type="text/javascript">
    CommonIndex.bindHeaderSearchBox();
    $(document).on("click", ".btn-header-search, .btn-header-mobile-search", function () {
        var data = $(".txt-keyword-header").val();
        if (data == "" || data == null || data == undefined)
            return;
        var inIframe = $('body').hasClass("wrap-iframe");
        if (inIframe)
            window.parent.location.href = "https://nguoiquansat.vn/search?q=" + data;
        else
            window.location.href = "https://nguoiquansat.vn/search?q=" + data;
    });

    $(document).on('select2:select', ".txt-keyword-header", function (e) {
        var data = e.params.data;
        if (data.id === data.text) {
            window.location.href = "https://nguoiquansat.vn/search?q=" + data.text;
        } else {

            if (data.type != 0) {
                var name = CommonHelper.replacePersonName(CommonHelper.removeVietnameseTones(data.name));
                window.location.href = "/ca-nhan-nqs_" + data.id + "/" + name;
            }
            else
                window.location.href = configCommonUrl.companyDetail + data.id;
        }
    });

</script>