body {
  font-size: 14px; }
  body .mobile {
    display: none; }
    @media (max-width: 991px) {
      body .mobile {
        display: block; } }
  body .desktop {
    display: block; }
    @media (max-width: 991px) {
      body .desktop {
        display: none; } }
  body .title-name {
    font-size: 37px;
    line-height: 37px;
    font-weight: 600;
    color: #222222;
    display: flex;
    justify-content: flex-start; }
    @media (max-width: 991px) {
      body .title-name {
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 14px; }
        body .title-name + .clearfix {
          display: none; } }
    body .title-name :nth-child(1)::after {
      content: "/";
      margin: 0 5px; }
    body .title-name + .clearfix {
      border-top: solid 1px #E5E5E5;
      margin: 19px 0; }
  body .l-main .b-maincontent {
    margin-bottom: 18px; }
    @media (max-width: 991px) {
      body .l-main .b-maincontent {
        margin-bottom: 20px; } }
    body .l-main .b-maincontent * {
      font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
    body .l-main .b-maincontent .row {
      margin: 0;
      display: flex;
      justify-content: space-between; }
      @media (max-width: 991px) {
        body .l-main .b-maincontent .row {
          flex-wrap: wrap; } }
      body .l-main .b-maincontent .row .col-lg-3 {
        padding: 0;
        width: 253px;
        flex: unset;
        max-width: unset; }
        @media (max-width: 991px) {
          body .l-main .b-maincontent .row .col-lg-3 {
            width: 100%; } }
        body .l-main .b-maincontent .row .col-lg-3 img {
          width: 253px;
          height: 292px !important;
          border-radius: 8px; }
          @media (max-width: 991px) {
            body .l-main .b-maincontent .row .col-lg-3 img {
              width: 253px;
              height: 292px !important;
              margin: 0 auto; } }
      body .l-main .b-maincontent .row .col-lg-9 {
        padding: 0;
        width: calc(100% - 280px);
        flex: unset;
        max-width: unset; }
        @media (max-width: 991px) {
          body .l-main .b-maincontent .row .col-lg-9 {
            width: 100%;
            margin-top: 25px; } }
        body .l-main .b-maincontent .row .col-lg-9.profile-info {
          font-size: 18px;
          line-height: 23px;
          padding-left: unset; }
          @media (max-width: 991px) {
            body .l-main .b-maincontent .row .col-lg-9.profile-info {
              font-size: 14px;
              line-height: 17px;
              width: 290px;
              margin: 0 auto 50px; } }
          body .l-main .b-maincontent .row .col-lg-9.profile-info ul {
            padding-left: 0 !important;
            margin-bottom: 0; }
            body .l-main .b-maincontent .row .col-lg-9.profile-info ul li {
              margin-top: 15px; }
              @media (max-width: 991px) {
                body .l-main .b-maincontent .row .col-lg-9.profile-info ul li {
                  margin-top: 10px;
                  text-align: center;
                  line-height: 23px; } }
              body .l-main .b-maincontent .row .col-lg-9.profile-info ul li:first-child {
                margin-top: 0; }
                @media (max-width: 991px) {
                  body .l-main .b-maincontent .row .col-lg-9.profile-info ul li:first-child {
                    margin-top: 25px; } }
                @media (max-width: 991px) {
                  body .l-main .b-maincontent .row .col-lg-9.profile-info ul li:first-child span:nth-child(2) {
                    font-weight: bold; } }
              body .l-main .b-maincontent .row .col-lg-9.profile-info ul li .count-money {
                font-weight: 600; }
          body .l-main .b-maincontent .row .col-lg-9.profile-info img {
            width: 100%; }
      body .l-main .b-maincontent .row:before, body .l-main .b-maincontent .row:after {
        display: none; }
    body .l-main .b-maincontent .clearfix {
      border-top: solid 1px #E5E5E5;
      margin: 15px 0 0; }
      @media (max-width: 991px) {
        body .l-main .b-maincontent .clearfix {
          margin: 20px 0; } }
    body .l-main .b-maincontent .info {
      padding-top: 15px; }
      body .l-main .b-maincontent .info .content-personal {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        text-align: justify; }
        body .l-main .b-maincontent .info .content-personal .content-extent {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          text-align: justify; }
        body .l-main .b-maincontent .info .content-personal .option {
          text-align: center;
          margin-top: 10px; }
          body .l-main .b-maincontent .info .content-personal .option a {
            padding: 2px 10px 4px;
            background: #3B1B70;
            border-radius: 3px;
            line-height: normal; }
            body .l-main .b-maincontent .info .content-personal .option a svg {
              transition: all .3s ease-in-out; }
            body .l-main .b-maincontent .info .content-personal .option a.collapse-text svg {
              transform: rotate(-180deg); }
  @media (max-width: 991px) {
    body .l-main .positon-content .desktop {
      display: block;
      overflow: auto;
      padding-bottom: 5px;
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      body .l-main .positon-content .desktop::-webkit-scrollbar {
        height: 8px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .positon-content .desktop::-webkit-scrollbar-track {
      background: #F4F4F4 !important; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .positon-content .desktop::-webkit-scrollbar-thumb {
      background: #3B1B70 !important;
      border-radius: 4px !important; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .positon-content .desktop::-webkit-scrollbar-thumb:hover {
      background: #3B1B70 !important;
      border-radius: 4px !important; } }
  @media (max-width: 991px) {
    body .l-main .positon-content .desktop li {
      width: 780px; } }
  body .l-main .positon-content .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    background-color: #FFF;
    color: #3B1B70;
    text-transform: uppercase;
    margin-bottom: 18px; }
    @media (max-width: 991px) {
      body .l-main .positon-content .title {
        margin-bottom: 10px; } }
  body .l-main .positon-content ul li:first-child {
    font-weight: 600;
    color: #222222;
    margin-top: 0; }
    body .l-main .positon-content ul li:first-child span {
      vertical-align: middle; }
      @media (max-width: 991px) {
        body .l-main .positon-content ul li:first-child span {
          font-size: 16px;
          line-height: 18px; } }
  body .l-main .positon-content ul li {
    line-height: 1.42857143;
    padding: 0;
    width: 100%;
    display: flex;
    padding: 5px 10px; }
    @media (max-width: 991px) {
      body .l-main .positon-content ul li {
        margin-top: 8px; } }
    body .l-main .positon-content ul li:nth-child(odd) {
      background: #fff; }
    body .l-main .positon-content ul li:nth-child(even) {
      background: #EFEFEF; }
    body .l-main .positon-content ul li :nth-child(1) {
      width: 8%; }
      @media (max-width: 991px) {
        body .l-main .positon-content ul li :nth-child(1) {
          width: 12%; } }
    body .l-main .positon-content ul li :nth-child(2) {
      width: 60%; }
    body .l-main .positon-content ul li :nth-child(3) {
      width: 20%; }
    body .l-main .positon-content ul li :nth-child(4) {
      text-align: right;
      width: 15%; }
    body .l-main .positon-content ul li span {
      color: #222222;
      font-size: 16px;
      line-height: 18px; }
      @media (max-width: 991px) {
        body .l-main .positon-content ul li span {
          font-size: 16px;
          line-height: 18px; } }
      body .l-main .positon-content ul li span a {
        color: #222222;
        font-size: 16px;
        line-height: 18px; }
        @media (max-width: 991px) {
          body .l-main .positon-content ul li span a {
            font-size: 16px;
            line-height: 18px; } }
  body .l-main .positon-content .clearfix {
    border-top: solid 1px #E5E5E5;
    margin: 18px 0; }
    @media (max-width: 991px) {
      body .l-main .positon-content .clearfix {
        margin: 20px 0; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent .desktop {
      display: block;
      overflow: auto;
      padding-bottom: 5px;
      /* Track */
      /* Handle */
      /* Handle on hover */ }
      body .l-main .stock-conent .desktop::-webkit-scrollbar {
        height: 8px; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .stock-conent .desktop::-webkit-scrollbar-track {
      background: #F4F4F4 !important; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .stock-conent .desktop::-webkit-scrollbar-thumb {
      background: #3B1B70 !important;
      border-radius: 4px !important; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .stock-conent .desktop::-webkit-scrollbar-thumb:hover {
      background: #3B1B70 !important;
      border-radius: 4px !important; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent .desktop li {
      width: 780px; } }
  body .l-main .stock-conent .mobile {
    display: none; }
  body .l-main .stock-conent .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    background-color: #FFF;
    color: #3B1B70;
    text-transform: uppercase;
    margin-bottom: 18px; }
  body .l-main .stock-conent ul li:first-child {
    font-weight: 600;
    color: #222222;
    margin-top: 0; }
    body .l-main .stock-conent ul li:first-child span {
      vertical-align: middle; }
      @media (max-width: 991px) {
        body .l-main .stock-conent ul li:first-child span {
          font-size: 16px;
          line-height: 18px; } }
      body .l-main .stock-conent ul li:first-child span.label-unit {
        font-size: 12px;
        line-height: 14px;
        color: #222;
        font-weight: normal; }
  body .l-main .stock-conent ul li {
    line-height: 1.42857143;
    padding: 0;
    width: 100%;
    display: flex;
    padding: 5px 10px; }
    body .l-main .stock-conent ul li:nth-child(odd) {
      background: #fff; }
    body .l-main .stock-conent ul li:nth-child(even) {
      background: #EFEFEF; }
    body .l-main .stock-conent ul li :nth-child(1) {
      width: 10%; }
    body .l-main .stock-conent ul li :nth-child(2) {
      width: 14%; }
    body .l-main .stock-conent ul li :nth-child(3) {
      width: 20%; }
    body .l-main .stock-conent ul li :nth-child(4) {
      width: 16%; }
    body .l-main .stock-conent ul li :nth-child(5) {
      width: 18%; }
    body .l-main .stock-conent ul li :nth-child(6) {
      width: 22%;
      text-align: right; }
    body .l-main .stock-conent ul li span {
      color: #222222;
      font-size: 16px;
      line-height: 18px; }
      @media (max-width: 991px) {
        body .l-main .stock-conent ul li span {
          font-size: 16px;
          line-height: 18px; } }
      body .l-main .stock-conent ul li span a {
        color: #222222;
        font-size: 16px;
        line-height: 18px; }
        @media (max-width: 991px) {
          body .l-main .stock-conent ul li span a {
            font-size: 16px;
            line-height: 18px; } }
  body .l-main .stock-conent ul:nth-child(2) {
    margin-bottom: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E5E5E5; }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile {
      padding: 0; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li {
      display: block;
      width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(1) {
      width: 25%;
      text-align: left; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(2) {
      width: 25%;
      text-align: center; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(3) {
      width: 25%;
      text-align: center; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(4) {
      width: 25%;
      text-align: center; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(5) {
      width: 25%;
      text-align: right; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li span:nth-child(6) {
      width: 25%;
      text-align: right; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid {
      width: 100%;
      display: flex;
      justify-content: flex-start; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid .stock-code {
      width: 80px;
      align-self: center; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid .stock-code span {
      display: block;
      width: 80px;
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid .stock-code span a {
      display: block;
      width: 80px;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid .content {
      width: calc(100% - 95px);
      margin-left: 15px; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li .d-grid .content span {
      width: 100%;
      display: block;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul {
      width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li {
      margin-top: 0;
      display: flex;
      justify-content: flex-start;
      width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div:nth-child(1) {
      width: 11%;
      font-weight: 600; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div:nth-child(2) {
      width: 22%;
      text-align: center;
      font-weight: 600; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div:nth-child(3) {
      width: 33%;
      text-align: center;
      font-weight: 600; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div:nth-child(4) {
      width: 33%;
      text-align: right;
      font-weight: 600; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div {
      width: 100%;
      font-weight: 600; } }
  @media (max-width: 991px) and (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div span {
      text-align: right;
      font-weight: normal;
      display: block;
      width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div + div {
      font-weight: normal; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li div + div span {
      text-align: right;
      font-weight: normal;
      display: block;
      width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) {
      margin-top: 7px; } }
  body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div {
    text-align: center; }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div span {
        font-size: 12px;
        line-height: 14px; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div:nth-child(1) span {
        text-align: left;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div:nth-child(2) span {
        text-align: center;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div:nth-child(3) span {
        text-align: center;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul li:nth-child(n+2) div:nth-child(4) span {
        text-align: center;
        display: block;
        width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile li ul + ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 11px;
      padding-bottom: 0;
      border-bottom: none; } }
  body .l-main .stock-conent ul.mobile li ul + ul li {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    width: 100%;
    justify-content: flex-end; }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(1) div {
        width: 33%;
        text-align: center !important; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(1) div span {
        text-align: center !important;
        font-weight: normal;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(1) div + div {
        width: 33%;
        text-align: right !important; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(1) div + div span {
        text-align: right !important;
        font-weight: normal;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(1) div + div span.label-unit {
        display: unset;
        width: auto;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(n+2) div {
        width: 33%;
        text-align: center !important; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(n+2) div span {
        text-align: center !important;
        font-weight: normal;
        display: block;
        width: 100%; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(n+2) div + div {
        width: 33%;
        text-align: right !important; } }
    @media (max-width: 991px) {
      body .l-main .stock-conent ul.mobile li ul + ul li:nth-child(n+2) div + div span {
        text-align: right !important;
        font-weight: normal;
        display: block;
        width: 100%; } }
  @media (max-width: 991px) {
    body .l-main .stock-conent ul.mobile + .title {
      margin-top: 15px;
      padding-top: 15px;
      border-top: solid 1px #E5E5E5; } }
  body .l-main .stock-conent .clearfix {
    border-top: solid 1px #E5E5E5;
    margin: 18px 0; }
    @media (max-width: 991px) {
      body .l-main .stock-conent .clearfix {
        margin: 15px 0; } }
  body .l-main .relationship-content .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    background-color: #FFF;
    color: #3B1B70;
    text-transform: uppercase;
    margin-bottom: 10px; }
  body .l-main .relationship-content ul li:first-child {
    font-weight: 600;
    color: #222222;
    margin-top: 0; }
    body .l-main .relationship-content ul li:first-child .content {
      padding: 0px;
      text-align: center; }
      body .l-main .relationship-content ul li:first-child .content :nth-child(1) {
        width: 40%;
        text-align: center !important;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600 !important;
        color: #222; }
      body .l-main .relationship-content ul li:first-child .content :nth-child(2) {
        width: 10%;
        text-align: center !important;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600 !important;
        color: #222; }
      body .l-main .relationship-content ul li:first-child .content :nth-child(3) {
        width: 15%;
        text-align: center !important;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600 !important;
        color: #222; }
      body .l-main .relationship-content ul li:first-child .content :nth-child(4) {
        width: 20%;
        text-align: center !important;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600 !important;
        color: #222; }
      body .l-main .relationship-content ul li:first-child .content :nth-child(5) {
        width: 20%;
        text-align: center !important;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600 !important;
        color: #222; }
  body .l-main .relationship-content ul li {
    line-height: 1.42857143;
    padding: 0;
    width: 100%;
    margin-top: 11px; }
    body .l-main .relationship-content ul li div.d-grid {
      display: flex; }
      body .l-main .relationship-content ul li div.d-grid .img {
        width: 78px;
        text-align: center;
        align-items: center; }
        body .l-main .relationship-content ul li div.d-grid .img img {
          border-radius: 50%;
          width: 78px;
          height: 80px; }
      body .l-main .relationship-content ul li div.d-grid .content {
        display: flex;
        width: calc(100% - 78px);
        align-self: center;
        padding: 0px 0px 0px 8px; }
        body .l-main .relationship-content ul li div.d-grid .content h3:nth-child(1) {
          width: 40%;
          text-align: left;
          font-size: 16px;
          line-height: 18px;
          font-weight: normal; }
          body .l-main .relationship-content ul li div.d-grid .content h3:nth-child(1) a {
            text-decoration: none;
            color: #222; }
        body .l-main .relationship-content ul li div.d-grid .content div:nth-child(2) {
          width: 10%;
          text-align: center;
          font-size: 16px;
          line-height: 18px;
          font-weight: normal; }
          body .l-main .relationship-content ul li div.d-grid .content div:nth-child(2) a {
            text-decoration: none;
            color: #222;
            font-size: 16px;
            line-height: 18px;
            font-weight: normal; }
        body .l-main .relationship-content ul li div.d-grid .content :nth-child(3) {
          width: 15%;
          text-align: right;
          font-size: 16px;
          line-height: 18px;
          font-weight: normal;
          color: #222; }
        body .l-main .relationship-content ul li div.d-grid .content :nth-child(4) {
          width: 20%;
          text-align: right;
          font-size: 16px;
          line-height: 18px;
          font-weight: normal;
          color: #222; }
        body .l-main .relationship-content ul li div.d-grid .content :nth-child(5) {
          width: 20%;
          text-align: right;
          font-size: 16px;
          line-height: 18px;
          font-weight: normal;
          color: #222; }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile {
      padding: 0 15px; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li {
      margin-top: 20px; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid {
      display: flex;
      justify-content: flex-start; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .img {
      width: 80px;
      height: 80px;
      align-self: center; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .img img {
      width: 80px;
      height: 80px; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .content {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 95px);
      margin-left: 15px;
      text-align: left;
      padding-left: 0; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .content h3 {
      width: 100% !important;
      text-align: left !important;
      margin-bottom: 8px; } }
  body .l-main .relationship-content ul.mobile li .d-grid .content h3 a {
    color: #222;
    font-size: 16px;
    line-height: 18px; }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .content div {
      width: 100% !important;
      text-align: left !important;
      line-height: 22px;
      color: #222;
      font-size: 14px;
      font-weight: normal !important; } }
  @media (max-width: 991px) {
    body .l-main .relationship-content ul.mobile li .d-grid .content div a {
      line-height: 22px !important;
      color: #222;
      font-size: 14px !important;
      font-weight: normal !important; } }
  body .l-main .relationship-content ul.mobile li .label-unit {
    font-size: 12px;
    line-height: 14px;
    color: #222; }
  body .l-main .relationship-content .relationship-detail {
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    @media (max-width: 991px) {
      body .l-main .relationship-content .relationship-detail {
        overflow-x: auto; } }
    @media (max-width: 991px) {
      body .l-main .relationship-content .relationship-detail::-webkit-scrollbar {
        height: 8px !important; } }
    @media (max-width: 991px) {
      body .l-main .relationship-content .relationship-detail::-webkit-scrollbar-track {
        background: #F4F4F4 !important; } }
    @media (max-width: 991px) {
      body .l-main .relationship-content .relationship-detail::-webkit-scrollbar-thumb {
        background: #3B1B70 !important;
        border-radius: 4px !important; } }
    @media (max-width: 991px) {
      body .l-main .relationship-content .relationship-detail::-webkit-scrollbar-thumb:hover {
        background: #3B1B70 !important;
        border-radius: 4px !important; } }
    body .l-main .relationship-content .relationship-detail table {
      width: 100%;
      display: table; }
      @media (max-width: 991px) {
        body .l-main .relationship-content .relationship-detail table {
          width: 928px;
          max-width: unset;
          border: none; } }
      @media (max-width: 991px) {
        body .l-main .relationship-content .relationship-detail table thead {
          width: 100%; } }
      body .l-main .relationship-content .relationship-detail table thead tr th {
        background: #fff;
        border: none;
        font-size: 16px;
        line-height: 18px;
        color: #222;
        text-align: center;
        vertical-align: top !important; }
        @media (max-width: 991px) {
          body .l-main .relationship-content .relationship-detail table thead tr th {
            font-size: 16px;
            line-height: 18px;
            color: #222;
            text-align: center;
            vertical-align: top !important;
            background: #fff;
            border: none; } }
        body .l-main .relationship-content .relationship-detail table thead tr th:nth-child(1) {
          padding-left: 0; }
        @media (max-width: 991px) {
          body .l-main .relationship-content .relationship-detail table thead tr th:nth-child(2) {
            width: 210px; } }
        @media (max-width: 991px) {
          body .l-main .relationship-content .relationship-detail table thead tr th:nth-child(5) {
            width: 150px; } }
        body .l-main .relationship-content .relationship-detail table thead tr th:last-child {
          text-align: right !important; }
          @media (max-width: 991px) {
            body .l-main .relationship-content .relationship-detail table thead tr th:last-child {
              width: 170px; } }
        body .l-main .relationship-content .relationship-detail table thead tr th .label-unit {
          font-size: 12px;
          line-height: 14px;
          color: #222;
          font-weight: normal; }
      @media (max-width: 991px) {
        body .l-main .relationship-content .relationship-detail table tbody {
          width: 100%; } }
      body .l-main .relationship-content .relationship-detail table tbody tr td {
        font-size: 16px;
        line-height: 18px;
        color: #222;
        text-align: center;
        vertical-align: middle;
        background: #fff;
        border: none;
        padding: 0; }
        @media (max-width: 991px) {
          body .l-main .relationship-content .relationship-detail table tbody tr td {
            font-size: 16px;
            line-height: 18px;
            color: #222;
            text-align: center;
            vertical-align: middle;
            background: #fff;
            border: none; } }
        body .l-main .relationship-content .relationship-detail table tbody tr td:nth-child(1) {
          padding-left: 0; }
        body .l-main .relationship-content .relationship-detail table tbody tr td:nth-child(2) {
          text-align: left; }
          @media (max-width: 991px) {
            body .l-main .relationship-content .relationship-detail table tbody tr td:nth-child(2) {
              text-align: left; } }
        body .l-main .relationship-content .relationship-detail table tbody tr td span {
          font-size: 16px;
          line-height: 18px;
          color: #222;
          display: block;
          padding: 5px 10px; }
          @media (max-width: 991px) {
            body .l-main .relationship-content .relationship-detail table tbody tr td span {
              font-size: 16px;
              line-height: 18px;
              color: #222; } }
          body .l-main .relationship-content .relationship-detail table tbody tr td span a {
            font-size: 16px;
            line-height: 18px;
            color: #222; }
            @media (max-width: 991px) {
              body .l-main .relationship-content .relationship-detail table tbody tr td span a {
                font-size: 16px;
                line-height: 18px;
                color: #222; } }
        body .l-main .relationship-content .relationship-detail table tbody tr td h3 {
          font-size: 16px;
          line-height: 18px;
          color: #222;
          margin-bottom: 0;
          padding: 5px 10px; }
          @media (max-width: 991px) {
            body .l-main .relationship-content .relationship-detail table tbody tr td h3 {
              margin-bottom: 0;
              font-size: 16px;
              line-height: 18px;
              color: #222; } }
          body .l-main .relationship-content .relationship-detail table tbody tr td h3 a {
            font-size: 16px;
            line-height: 18px;
            color: #222; }
            @media (max-width: 991px) {
              body .l-main .relationship-content .relationship-detail table tbody tr td h3 a {
                font-size: 16px;
                line-height: 18px;
                color: #222; } }
        body .l-main .relationship-content .relationship-detail table tbody tr td .img {
          width: 80px;
          height: 80px;
          position: relative;
          z-index: 9; }
          @media (max-width: 991px) {
            body .l-main .relationship-content .relationship-detail table tbody tr td .img {
              width: 78px;
              height: 80px; } }
          body .l-main .relationship-content .relationship-detail table tbody tr td .img img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: 10;
            position: relative; }
            @media (max-width: 991px) {
              body .l-main .relationship-content .relationship-detail table tbody tr td .img img {
                width: 78px;
                height: 80px;
                border-radius: 50%; } }
        body .l-main .relationship-content .relationship-detail table tbody tr td:last-child {
          text-align: right; }
      body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(even) h3 {
        background: #fff; }
      body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(even) span {
        background: #fff; }
      body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(odd) h3 {
        background: #EFEFEF; }
      body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(odd) span {
        background: #EFEFEF; }
      body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(odd) .img:before {
        content: '';
        width: 80px;
        height: 28px;
        background: #EFEFEF;
        position: absolute;
        z-index: 1;
        top: 26px;
        right: -6px; }
        @media (max-width: 991px) {
          body .l-main .relationship-content .relationship-detail table tbody tr:nth-child(odd) .img:before {
            right: -18px; } }
  body .l-main .relationship-content .clearfix {
    border-top: solid 1px #E5E5E5;
    margin: 18px 0; }
  body .l-main .history-content .history-title {
    font-size: 17px;
    font-weight: 600;
    color: #555;
    margin-bottom: 1rem; }
  body .l-main .history-content .history-body {
    font-size: 14px;
    list-style: circle; }
  @media (min-width: 320px) {
    body .l-main .news-personal .b-grid__img {
      width: 44%; } }
  @media (min-width: 768px) {
    body .l-main .news-personal .b-grid__img {
      width: 160px; } }
  body .l-main .news-personal .h-show-pc {
    display: none; }
  @media (min-width: 320px) {
    body .l-main .news-personal .b-grid__content {
      width: 56%;
      margin-top: unset; } }
  @media (min-width: 768px) {
    body .l-main .news-personal .b-grid__content {
      width: calc(100% - 160px); } }
  @media (min-width: 320px) {
    body .l-main .news-personal .b-grid__content .h-show-mobile {
      display: flex; } }
  @media (min-width: 768px) {
    body .l-main .news-personal .b-grid__content .h-show-mobile {
      display: block; } }
  body .l-main .news-personal .b-grid__content .h-show-mobile .b-grid__title {
    width: 100%;
    text-align: left; }
    @media (min-width: 320px) {
      body .l-main .news-personal .b-grid__content .h-show-mobile .b-grid__title {
        padding-left: 15px; } }
    @media (min-width: 768px) {
      body .l-main .news-personal .b-grid__content .h-show-mobile .b-grid__title {
        padding-left: unset; } }
  @media (min-width: 320px) {
    body .l-main .news-personal .b-grid__content .b-grid__desc {
      display: none; } }
  @media (min-width: 768px) {
    body .l-main .news-personal .b-grid__content .b-grid__desc {
      display: block; } }
  @media (min-width: 320px) {
    body .l-main .news-personal .b-grid__content div:last-child {
      text-align: left;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    body .l-main .news-personal .b-grid__content div:last-child {
      text-align: left;
      padding-left: unset; } }
  body .l-main .news-personal .btn-grey.m-auto {
    background: #3b1b70;
    color: #fff; }
    body .l-main .news-personal .btn-grey.m-auto :hover {
      color: #fff; }
  body .l-main .news-personal .info-navbar-content {
    position: relative; }
    body .l-main .news-personal .info-navbar-content:before {
      content: '';
      width: 8px;
      height: 23px;
      background: #ED7223;
      position: absolute;
      left: 0;
      top: 8px; }
    body .l-main .news-personal .info-navbar-content .info-navbar li {
      padding: 0;
      border-right: none; }
      body .l-main .news-personal .info-navbar-content .info-navbar li .nav-link {
        position: relative;
        color: #222222;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        padding-bottom: 16px; }
        body .l-main .news-personal .info-navbar-content .info-navbar li .nav-link:before {
          content: '';
          width: 1px;
          height: 20px;
          background: #222222;
          position: absolute;
          right: 0;
          top: 10px; }
        body .l-main .news-personal .info-navbar-content .info-navbar li .nav-link:hover {
          background: none;
          color: #3B1B70;
          font-weight: 600; }
      body .l-main .news-personal .info-navbar-content .info-navbar li.active .nav-link {
        color: #3B1B70;
        font-weight: 600;
        background: none; }
        body .l-main .news-personal .info-navbar-content .info-navbar li.active .nav-link:after {
          border-bottom-width: 1px; }
      body .l-main .news-personal .info-navbar-content .info-navbar li:first-child .nav-link {
        padding-left: 18px; }
      body .l-main .news-personal .info-navbar-content .info-navbar li:last-child .nav-link {
        padding-right: 0; }
        body .l-main .news-personal .info-navbar-content .info-navbar li:last-child .nav-link:before {
          content: none; }
  body .l-main .news-personal .tab-content .c-template-list ul li {
    margin: 0;
    border-bottom: none; }
    @media (max-width: 991px) {
      body .l-main .news-personal .tab-content .c-template-list ul li {
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 15px; } }
    body .l-main .news-personal .tab-content .c-template-list ul li .b-grid .b-grid__img {
      width: 243px;
      margin: unset; }
      @media (max-width: 991px) {
        body .l-main .news-personal .tab-content .c-template-list ul li .b-grid .b-grid__img {
          width: 150px; } }
      body .l-main .news-personal .tab-content .c-template-list ul li .b-grid .b-grid__img a {
        width: 100%;
        height: 100%;
        display: block;
        border: none;
        border-radius: 0; }
        body .l-main .news-personal .tab-content .c-template-list ul li .b-grid .b-grid__img a img {
          width: 100%;
          height: 100%;
          display: block; }
    body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content {
      width: calc(100% - 243px);
      display: block;
      margin: 0;
      padding-bottom: 0; }
      @media (max-width: 991px) {
        body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content {
          width: calc(100% - 150px); } }
      body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content .b-grid__row.h-show-mobile {
        display: flex; }
        body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content .b-grid__row.h-show-mobile .b-grid__title {
          font-size: 18px;
          line-height: 25px;
          font-weight: 600;
          color: #222; }
      body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content .b-grid__row.b-grid__desc {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        color: #757575; }
      body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content .b-grid__row .b-grid__cat {
        margin-right: 0;
        margin-top: 8px;
        font-size: 13px;
        line-height: 17px; }
        @media (max-width: 991px) {
          body .l-main .news-personal .tab-content .c-template-list ul li .b-grid__content .b-grid__row .b-grid__cat {
            font-size: 15px !important;
            line-height: 17px; } }
    @media (max-width: 991px) {
      body .l-main .news-personal .tab-content .c-template-list ul li:last-child {
        border-bottom: none; } }
  @media (max-width: 991px) {
    body .l-sidebar {
      display: block; } }
  body .l-sidebar .info {
    padding: 23px 15px 10px;
    background: #F8F8F8;
    border-radius: 10px; }
    body .l-sidebar .info div.title {
      font-size: 18px;
      line-height: 21px;
      font-weight: 600;
      color: #222;
      text-transform: uppercase;
      text-align: center; }
      @media (max-width: 991px) {
        body .l-sidebar .info div.title {
          font-size: 16px;
          line-height: 19px; } }
    body .l-sidebar .info .content-personal {
      margin-top: 11px;
      font-size: 16px;
      line-height: 24px; }
      @media (max-width: 991px) {
        body .l-sidebar .info .content-personal {
          font-size: 14px;
          line-height: 22px; } }
    body .l-sidebar .info .option {
      text-align: center;
      align-content: center; }
      body .l-sidebar .info .option a {
        text-decoration: unset;
        color: #3b1b70; }
  body .l-sidebar .content-struct {
    margin-top: 0;
    padding: 18px 15px 10px;
    background: #F8F8F8;
    border-radius: 10px; }
    body .l-sidebar .content-struct div.title:first-child {
      font-size: 18px;
      line-height: 21px;
      font-weight: 600;
      color: #222;
      text-transform: uppercase;
      text-align: center; }
      @media (max-width: 991px) {
        body .l-sidebar .content-struct div.title:first-child {
          font-size: 16px;
          line-height: 20px; } }
    body .l-sidebar .content-struct .tab-struct {
      margin-top: 10px; }
      body .l-sidebar .content-struct .tab-struct ul.info-navbar {
        display: flex;
        justify-content: center; }
        body .l-sidebar .content-struct .tab-struct ul.info-navbar li {
          border-right: none;
          padding: 0;
          margin: 0 5px; }
          body .l-sidebar .content-struct .tab-struct ul.info-navbar li a {
            padding: 0 6px 3px 6px;
            position: relative;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #222; }
            @media (max-width: 991px) {
              body .l-sidebar .content-struct .tab-struct ul.info-navbar li a {
                font-size: 16px;
                line-height: 20px; } }
            body .l-sidebar .content-struct .tab-struct ul.info-navbar li a:hover {
              background: none;
              font-weight: 600; }
            body .l-sidebar .content-struct .tab-struct ul.info-navbar li a:before {
              content: '';
              height: 20px;
              width: 1px;
              background: #222;
              position: absolute;
              right: -5px;
              top: 3px; }
              @media (max-width: 991px) {
                body .l-sidebar .content-struct .tab-struct ul.info-navbar li a:before {
                  height: 13px; } }
          body .l-sidebar .content-struct .tab-struct ul.info-navbar li.active a {
            background: none;
            font-weight: 600; }
            body .l-sidebar .content-struct .tab-struct ul.info-navbar li.active a:after {
              content: '';
              height: 1px;
              width: calc(100% - 6px);
              background: #222;
              position: absolute;
              left: 3px;
              bottom: 0;
              border-bottom: none; }
          body .l-sidebar .content-struct .tab-struct ul.info-navbar li:first-child {
            margin-left: 0; }
            body .l-sidebar .content-struct .tab-struct ul.info-navbar li:first-child a {
              padding-left: 0; }
              body .l-sidebar .content-struct .tab-struct ul.info-navbar li:first-child a:after {
                left: 0; }
          body .l-sidebar .content-struct .tab-struct ul.info-navbar li:last-child a:before {
            display: none; }
      body .l-sidebar .content-struct .tab-struct .tab-content {
        margin-top: 10px; }
        body .l-sidebar .content-struct .tab-struct .tab-content .chart {
          margin-bottom: 10px; }
        body .l-sidebar .content-struct .tab-struct .tab-content .tab div:first-child {
          font-size: 16px;
          font-weight: 600;
          color: #222;
          text-align: center; }
          @media (max-width: 991px) {
            body .l-sidebar .content-struct .tab-struct .tab-content .tab div:first-child {
              font-size: 14px; } }
        body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          line-height: 18px;
          font-weight: 600; }
          @media (max-width: 991px) {
            body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) {
              font-size: 14px;
              line-height: 17px; } }
          body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) div .point {
            font-size: 16px;
            line-height: 18px;
            font-weight: normal; }
            @media (max-width: 991px) {
              body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) div .point {
                font-size: 14px;
                line-height: 17px; } }
          body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) div .unit {
            font-size: 16px;
            line-height: 18px;
            font-weight: normal; }
            @media (max-width: 991px) {
              body .l-sidebar .content-struct .tab-struct .tab-content .tab > div:nth-child(2) div .unit {
                font-size: 14px;
                line-height: 17px; } }
        body .l-sidebar .content-struct .tab-struct .tab-content .tab .b-grid__title.box {
          background: none; }
        body .l-sidebar .content-struct .tab-struct .tab-content .tab .struct:last-child {
          border-bottom: none;
          padding-bottom: 10px;
          margin-bottom: 0; }
        body .l-sidebar .content-struct .tab-struct .tab-content #chart-doanh-nghiep-FOX {
          margin-bottom: 21px; }
          @media (max-width: 991px) {
            body .l-sidebar .content-struct .tab-struct .tab-content #chart-doanh-nghiep-FOX {
              margin-bottom: 15px; } }
        body .l-sidebar .content-struct .tab-struct .tab-content .struct {
          border-bottom: 1px solid #E5E5E5;
          padding-bottom: 8px;
          margin-bottom: 28px; }
          @media (max-width: 991px) {
            body .l-sidebar .content-struct .tab-struct .tab-content .struct {
              padding-bottom: 0;
              margin-bottom: 20px; } }
          body .l-sidebar .content-struct .tab-struct .tab-content .struct > div:first-child {
            font-size: 18px;
            line-height: 21px;
            color: #222;
            font-weight: 600;
            padding-bottom: 11px; }
            @media (max-width: 991px) {
              body .l-sidebar .content-struct .tab-struct .tab-content .struct > div:first-child {
                font-size: 16px;
                line-height: 20px; } }
          @media (max-width: 991px) {
            body .l-sidebar .content-struct .tab-struct .tab-content .struct ul {
              padding: 0 15px; } }
          body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li {
            margin: 10px 0px 10px 0px;
            font-size: 16px;
            line-height: 22px;
            padding-bottom: unset;
            border-bottom: unset; }
            @media (max-width: 991px) {
              body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li {
                font-size: 14px;
                line-height: 20px; } }
            body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid {
              display: flex;
              justify-content: flex-start; }
              body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img {
                width: 78px;
                height: 80px;
                float: none;
                overflow: unset; }
                @media (max-width: 991px) {
                  body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img {
                    width: 80px; } }
                body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img a {
                  width: 78px;
                  height: 80px;
                  display: block; }
                  @media (max-width: 991px) {
                    body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img a {
                      width: 80px; } }
                  body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img a img {
                    width: 78px;
                    height: 80px;
                    border-radius: 50%;
                    border: 2px solid #fff; }
                    @media (max-width: 991px) {
                      body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__img a img {
                        width: 80px; } }
              body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content {
                float: none;
                width: calc(100% - 90px);
                margin-left: 12px;
                text-align: left;
                align-self: center; }
                @media (max-width: 991px) {
                  body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content {
                    width: calc(100% - 95px);
                    margin-left: 15px; } }
                body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content h3 {
                  font-size: inherit;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 22px;
                  color: #222;
                  margin-right: 0;
                  margin-bottom: 2px; }
                  @media (max-width: 991px) {
                    body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content h3 {
                      font-size: 14px;
                      line-height: 20px;
                      text-align: left; } }
                body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content ul {
                  padding: 0; }
                  body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content ul li {
                    margin: 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px; }
                    @media (max-width: 991px) {
                      body .l-sidebar .content-struct .tab-struct .tab-content .struct ul li .b-grid .b-grid__content ul li {
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left; } }
    body .l-sidebar .content-struct div[id^="chart-doanh-nghiep"] {
      margin-bottom: 21px; }
