@mixin r( $point ) {

    @if $point==320 {
        @media ( min-width: 320px ) {
            @content;
        }
    }

    @if $point==480 {
        @media ( min-width: 480px ) {
            @content;
        }
    }

    @if $point==600 {
        @media ( min-width: 600px ) {
            @content;
        }
    }

    @if $point==768 {
        @media ( min-width: 768px ) {
            @content;
        }
    }

    @if $point==1024 {
        @media ( min-width: 1024px ) {
            @content;
        }
    }

    @if $point==1140 {
        @media ( min-width: 1140px ) {
            @content;
        }
    }

    @if $point==1280 {
        @media ( min-width: 1280px ) {
            @content;
        }
    }

    @if $point==1500 {
        @media ( min-width: 1500px ) {
            @content;
        }
    }

    @if $point==991 {
        @media ( max-width: 991px ) {
            @content;
        }
    }
}

body {
    .profession {
        .option {
            margin-bottom: 10px;
            float: right;
            width: 100%;

            @include r(320) {
                display: block;
            }

            @include r(768) {
                display: flex;
                justify-content: flex-end;
            }

            .date {
                @include r(320) {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10px;

                    label {
                        width: 15%;
                    }

                    input {
                    }
                }

                @include r(768) {
                    width: 25%;

                    label {
                        float: left;
                    }

                    input {
                        float: left;
                        width: 70%;
                        margin-left: 10px;
                    }
                }
            }

            .exchange {
                @include r(320) {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10px;

                    label {
                        width: 15%;
                    }

                    select {
                    }
                }

                @include r(768) {
                    width: 25%;

                    label {
                        float: left;
                    }

                    select {
                        float: left;
                        width: 70%;
                        margin-left: 10px;
                    }
                }
            }

            .btn-submit {
            }
        }

        #container-profess {
            table {
                thead {
                    tr {
                        text-align: center;
                        align-self: center;
                        th{
                            white-space:nowrap;
                        }
                    }
                }

                tbody {
                    tr {
                        background: none;

                        .treegrid-container .treegrid-expander {
                            display: none;
                        }

                        text-align: right;
                        align-self: center;

                        :first-child {
                            text-align: center;
                            margin: unset !important;
                        }

                        td:nth-child(2) {
                            text-align: left;

                            a {
                                color: #3b1b70;
                                font-family: "Roboto Condensed","Roboto",Arial;
                                font-weight: 700;
                                text-decoration: unset;
                                font-size: 15px;
                                white-space: nowrap;
                            }
                        }

                        :nth-child(4), :nth-child(5) {
                            a {
                                color: #212529;

                                &:hover {
                                    color: #3b1b70;
                                }
                            }
                        }

                        :last-child {
                            div {
                                div:nth-child(1) {
                                    width: 50%;
                                    float: left;
                                    background: #da374a;
                                    color: white;
                                    text-align: center;
                                }

                                div:nth-child(2) {
                                    width: 50%;
                                    float: left;
                                    background: #00873c;
                                    text-align: center;
                                    color: white;
                                }

                                a {
                                    color: white;
                                }
                            }
                        }

                        .green {
                            color: #00873c !important;

                            * {
                                color: #00873c !important;
                            }
                        }

                        .red {
                            color: #da374a !important;

                            * {
                                color: #da374a !important;
                            }
                        }
                    }
                }
            }
        }

        .note {
            float: right;
            margin: 10px 0 0px 0;
        }
    }
}
