.technical-terms {
    .l-main {
        .option {
            .tag {
                margin-bottom: 10px;
                display: flex;

                a {
                    display: block;
                    text-decoration: none;
                    margin-right: 15px;
                    color: #3b1b70;

                    &:hover, &.active {
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }

            div.filter-symbol {
                display: flex;
                justify-content: start;

                ul {
                    padding-left: unset;

                    li {
                        float: left;
                        margin-right: 10px;

                        a {
                            color: #3b1b70;

                            &:hover, &.active {
                                font-weight: 600;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            div.search {
                margin-bottom: 15px;

                .custom-autocomplete-terms {
                    position: relative;
                    width: 100%;

                    .technical-terms-search {
                        height: 28px;
                        font-size: 12px !important;
                        line-height: 16.8px;
                        border: 1px solid #3b1b70;
                        -moz-border-radius: 15px;
                        -webkit-border-radius: 15px;
                        border-radius: 15px;
                    }

                    .btn-search {
                        float: left;
                        position: absolute;
                        margin-left: -30px;
                        z-index: 12;
                        border: unset;
                        background: unset;
                        margin-top: -5px;
                    }
                }
            }
        }

        div#content-list-terms {
            ul.data-list-terms {
                padding: unset;

                li {
                    a {
                        display: block;
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            color: #ee7224;
                        }
                    }
                }
            }
        }
    }

    .l-sidebar {
        .top-news {
            .c-box__title {
                background-color: #3b1b70;
                color: #fff;
            }

            ul {
                li {
                    div.b-grid {
                        min-height: 79px;

                        div.b-grid__img {
                            width: 100px;
                            height: auto;
                            overflow: hidden;
                            float: left;

                            a {
                                display: block;
                                padding-top: 66.6666666667% !important;
                                overflow: hidden;
                                position: relative;
                                z-index: 1;

                                img {
                                    position: absolute;
                                    z-index: 2;
                                    top: 0;
                                    left: 0;
                                    min-height: 100%;
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                    object-position: top center;
                                }
                            }
                        }

                        div.b-grid__content {
                            width: calc(100% - 100px);
                            margin-left: 0;
                            padding-left: 15px;
                            float: left;

                            h3.b-grid__title {
                                font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
                                font-size: 13px;

                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: #000;

                                    &:hover {
                                        color: #ee7224;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .read-more-top {
            .c-box__title {
                background-color: #3b1b70;
                color: #fff;
            }

            ul {
                li {
                    width: 100%;

                    a {
                        display: block;
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            color: #ee7224;
                        }
                    }
                }
            }
        }
    }
}


.technical-terms-detail {
    .option {
        div.search {
            margin-bottom: 15px;

            .custom-autocomplete-terms {
                position: relative;
                width: 100%;

                .technical-terms-search {
                    height: 28px;
                    font-size: 12px !important;
                    line-height: 16.8px;
                    border: 1px solid #3b1b70;
                    -moz-border-radius: 15px;
                    -webkit-border-radius: 15px;
                    border-radius: 15px;
                }

                .btn-search {
                    float: left;
                    position: absolute;
                    margin-left: -30px;
                    z-index: 12;
                    border: unset;
                    background: unset;
                    margin-top: -5px;
                }
            }
        }

        div.filter-symbol {
            display: flex;

            ul {
                padding-left: unset;

                li {
                    float: left;
                    margin-right: 10px;

                    a {
                        color: #3b1b70;

                        &:hover, &.active {
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }

                   
                }
            }
        }
    }

    div#content-list-terms {
        ul.data-list-terms {
            padding: unset;

            li {
                a {
                    display: block;
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #ee7224;
                    }
                }
            }
        }
    }

    .read-more-top, .read-more {
        .c-box__title {
            background-color: #3b1b70;
            color: #fff;
        }

        ul {
            li {
                width: 100%;

                a {
                    display: block;
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #ee7224;
                    }
                }
            }
        }
    }

    .top-news {
        .c-box__title {
            background-color: #3b1b70;
            color: #fff;
        }

        ul {
            li {
                div.b-grid {
                    min-height: 79px;

                    div.b-grid__img {
                        width: 100px;
                        height: auto;
                        overflow: hidden;
                        float: left;

                        a {
                            display: block;
                            padding-top: 66.6666666667% !important;
                            overflow: hidden;
                            position: relative;
                            z-index: 1;

                            img {
                                position: absolute;
                                z-index: 2;
                                top: 0;
                                left: 0;
                                min-height: 100%;
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                object-position: top center;
                            }
                        }
                    }

                    div.b-grid__content {
                        width: calc(100% - 100px);
                        margin-left: 0;
                        padding-left: 15px;
                        float: left;

                        h3.b-grid__title {
                            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
                            font-size: 13px;

                            a {
                                display: block;
                                text-decoration: none;
                                color: #000;

                                &:hover {
                                    color: #ee7224;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
