<div class="c-footer-top">
    <div class="c-footer-top__right">
        <div class="c-big-tags">
            <div class="c-big-tags__title"><i class="icon24-tag-white"></i>Trending</div>
            <div class="c-big-tags__content">

            </div>
        </div>
    </div>
    <!--end c-footer-top__right-->
    <div class="c-footer-top__left">
        <div class="c-footer-menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="https://nguoiquansat.vn/chung-khoan">Chứng kho&#225;n</a></li>
                <li><a href="https://nguoiquansat.vn/bat-dong-san">Bất động sản</a></li>
                <li>
                    <a href="https://nguoiquansat.vn/tai-chinh-ngan-hang">
                        T&#224;i ch&#237;nh Ng&#226;n
                        h&#224;ng
                    </a>
                </li>
                <li>
                    <a href="https://nguoiquansat.vn/doanh-nghiep">
                        Doanh nghiệp
                    </a>
                </li>
                <li><a href="https://nguoiquansat.vn/quoc-te">Quốc tế</a></li>
                <li><a href="https://nguoiquansat.vn/gia-ca">Giá cả</a></li>
                <li><a href="https://nguoiquansat.vn/cong-nghe">C&#244;ng nghệ</a></li>
                <li><a href="https://nguoiquansat.vn/song">Sống</a></li>
                <li>
                    <a href="https://nguoiquansat.vn/vi-mo">Vĩ mô</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end c-footer-top__left-->
</div>
<!--end c-footer-top-->
<div class="c-footer-main">
    <div class="c-footer-main__left">
        <div class="b-maincontent">
            <p>Trang TTĐTTH của Công ty TNHH Đầu tư Đổi mới Công nghệ INTECH</p>
            <p>Giấy phép số 2326/GP-TTĐT do Sở TTTT Thành phố Hà Nội cấp ngày 16/6/2021</p>
            <p>
                Địa chỉ: Tầng 7, Tòa A7-D21, Số 9, Ngõ 11, Phố Duy Tân, Phường Dịch Vọng Hậu, Quận Cầu Giấy,
                Hà Nội
            </p>
            <p>Email: info@nguoiquansat.vn</p>
            <p>Chịu trách nhiệm nội dung: Ông Lê Thanh Hải</p>
            <p>Ghi rõ nguồn nguoiquansat.vn khi phát hành lại thông tin từ website này</p>
            <p>Thỏa thuận chia sẻ và trách nhiệm về thông tin</p>
        </div>
    </div>
    <!--end c-footer-main__left-->
    <div class="c-footer-main__right">
        <div class="b-maincontent">
            <p><b>Liên hệ quảng cáo</b></p>
            <p>Email: sales@nguoiquansat.vn</p>
            <p>Hotline: 0965 263 889 (Ms Trang)</p>
        </div>
        <div class="c-footer-social">
            <label>Theo chúng tôi</label><a target="_blank"
                                            href="https://www.facebook.com/nguoiquansat.thongtintaichinh">
                <i class="icon20-facebook-white"></i>
            </a><a href="">
                <i class="icon20-youtube-white"></i>
            </a>
        </div>
        <div class="c-footer-logo">
            <a href="https://nguoiquansat.vn"><img class="lazyload loaded" src="https://asset.1cdn.vn/nqs/images/logo-white.svg" data-src="https://asset.1cdn.vn/nqs/images/logo-white.svg" alt="logo" data-was-processed="true"></a>
        </div>
    </div>
    <!--end c-footer-main__right-->
</div>
<!--end c-footer-main-->