<ul>
    <li><a data-Fname="trang-chu" href="https://nguoiquansat.vn"><i class="icon16-home-grey"></i></a></li>

    <li class="c-menu-child">
        <a data-Fname="Chung-khoan" href="https://nguoiquansat.vn/chung-khoan">Chứng kho&#225;n</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Bat-dong-san" href="https://nguoiquansat.vn/bat-dong-san">Bất động sản</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Tai-chinh-Ngan-hang"
           href="https://nguoiquansat.vn/tai-chinh-ngan-hang">
            T&#224;i ch&#237;nh Ng&#226;n
            h&#224;ng
        </a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Doanh-nghiep-Doanh-nhan"
           href="https://nguoiquansat.vn/doanh-nghiep">Doanh nghiệp</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Quoc-te" href="https://nguoiquansat.vn/quoc-te">Quốc tế</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-fname="Gia-ca" href="https://nguoiquansat.vn/gia-ca">Giá cả</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Cong-nghe" href="https://nguoiquansat.vn/cong-nghe">C&#244;ng nghệ</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-Fname="Song" href="https://nguoiquansat.vn/song">Sống</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child">
        <a data-fname="Vi-mo" href="https://nguoiquansat.vn/vi-mo">Vĩ mô</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-more is-hamburger js-menu-more">
        <span class="dot dot1"></span><span class="dot dot2"></span><span class="dot dot3"></span>
    </li>
    <li class="c-menu-child" style="float: right;">
        <a target="_top" href="/">Dữ liệu</a>
        <div class="c-dropdown-menu">
            <ul>
            </ul>
        </div>
    </li>
    <li class="c-menu-child" style="float: right;">

        <a href="javascript:;" id="btnShowSearchModal" data-toggle="modal" data-target="#searchModal">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.1567 6.63698C11.1567 9.13317 9.13317 11.1567 6.63698 11.1567C4.14079 11.1567 2.11723 9.13317 2.11723 6.63698C2.11723 4.14079 4.14079 2.11723 6.63698 2.11723C9.13317 2.11723 11.1567 4.14079 11.1567 6.63698ZM6.63698 12.524C9.88827 12.524 12.524 9.88827 12.524 6.63698C12.524 3.38569 9.88827 0.75 6.63698 0.75C3.38569 0.75 0.75 3.38569 0.75 6.63698C0.75 9.88827 3.38569 12.524 6.63698 12.524Z" fill="#3B1B70" stroke="#3B1B70" stroke-width="0.5" />
                <rect x="9.86768" y="11.2119" width="1.90026" height="5.70079" rx="0.794287" transform="rotate(-45 9.86768 11.2119)" fill="#3B1B70" />
            </svg>
        </a>
    </li>
</ul>