
@{
    ViewBag.Title = "Bộ lọc cổ phiếu";
    ViewBag.PageName = "Bộ lọc cổ phiếu";
    Layout = "~/Views/Shared/_NqsLayout.cshtml";
}
<style>
    .loc-cp-form label {
        padding-right: 0px;
    }
    .loc-cp-form .input-group-text {
        font-size: 11px;
        font-weight: 700;
    }
</style>
<link href="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css" rel="stylesheet" />
<script src="~/Assets/bundles/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="~/Assets/bundles/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <form class="loc-cp-form">
            <div class="row">
                <div class="col-lg-12">

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h4 class="mb-0">
                                    <b>Lọc cổ phiếu - Tìm kiếm cơ hội</b>
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="ddl-exchange" class="col-lg-1 col-sm-12 col-4 col-form-label text-left">Sàn</label>
                                        <div class="col-lg-2 col-sm-12 col-8 mb-2">
                                            <select id="ddl-exchange" class="form-control">
                                                <option value="" selected>Tất cả</option>
                                                <option value="HOSE">HOSE</option>
                                                <option value="HNX">HNX</option>
                                                <option value="UPCOM">UPCoM</option>
                                            </select>
                                        </div>
                                        <label for="ddl-nganh" class="col-lg-1 col-sm-12 col-4 col-form-label text-left">Ngành</label>
                                        <div class="col-lg-3 col-sm-12 col-8 mb-2">
                                            <select id="ddl-nganh" class="form-control ddl-loc-cp-nganh">
                                                <option value="" selected>Tất cả ngành</option>
                                                @foreach (var p in ViewBag.ListNganh)
                                                {
                                                    <optgroup label="@p.Text">
                                                        @foreach (var c in p.Childs)
                                                        {
                                                            <option value="@c.Value">@c.Text</option>
                                                        }
                                                    </optgroup>
                                                }

                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="txt-price-from" class="col-lg-1 col-sm-12 col-12 col-form-label text-left">Giá CP</label>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-price-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">.000</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-price-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">.000</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row" style="display: none">
                                        <label for="ddl-tang-giam-phien" class="col-lg-3 col-sm-12 col-12 col-form-label text-right h-show-pc">Liên tục tăng/giảm giá trong</label>
                                        <label for="ddl-tang-giam-phien" class="col-lg-3 col-sm-7 col-7 col-form-label text-left h-show-mobile">Liên tục tăng/giảm giá trong</label>
                                        <label for="ddl-tang-giam-loai" class="col-lg-2 col-sm-7 col-5 col-form-label text-center">[Số phiên]</label>
                                        <label for="ddl-tang-giam-loai" class="col-lg-1 col-sm-12 col-4 col-form-label text-right">Kiểu</label>
                                        <div class="col-lg-2 col-sm-3 col-8">
                                            <select id="ddl-tang-giam-loai" class="form-control">
                                                <option value="">Chọn tăng/giảm</option>
                                                <option value="0">Tăng</option>
                                                <option value="1">Giảm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button type="button" style="color: #3b1b70;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Thêm điều kiện lọc theo phiên
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="ddl-tang-giam-phien" class="col-lg-3 col-sm-12 col-12 col-form-label text-left h-show-pc">Chọn số phiên áp dụng lọc</label>
                                        <label for="ddl-tang-giam-phien" class="col-sm-12 col-12 col-form-label text-left h-show-mobile">Chọn số phiên áp dụng lọc</label>
                                        <div class="col-lg-2 col-sm-12 col-12 mb-2">
                                            <select id="ddl-tang-giam-phien" class="form-control" style="font-weight: 700;">
                                                <option value="5">5 phiên gần nhất</option>
                                                <option value="10">10 phiên gần nhất</option>
                                                <option value="25">25 phiên gần nhất</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="ddl-tang-giam-phien" class="col-lg-3 col-sm-12 col-12 col-form-label text-left">Thay đổi giá so với <span class="sp-sophien">5 phiên gần nhất</span></label>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-change-pre-x-day-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-change-pre-x-day-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">%</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-sm-12 col-12 col-form-label text-left">KLTB của <span class="sp-sophien">5 phiên gần nhất</span></label>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-kl5phien-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">CP</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-kl5phien-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">CP</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-left">KLGD vượt KLTB <span class="sp-sophien">5 phiên gần nhất</span></label>

                                        <div class="col-lg-2 col-sm-12 col-12">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-klgd-vuot-gttb-tu" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-sm-4 col-4 col-form-label text-left">Nước ngoài</label>
                                        <div class="col-lg-3 col-sm-8 col-8" style="padding: 0px;">

                                            <div class="form-check ">
                                                <input type="hidden" id="hd-rd-mua-ban-rong-type" value="0" />
                                                <input class="form-check-input rd-nn-rong text-right" type="radio" name="nn-rong" id="rd-nn-mua-rong" checked value="0" />
                                                <label class="form-check-label" for="rd-nn-mua-rong">
                                                    Mua ròng trong <span class="sp-sophien" style="width: 100% !important; display: unset;">5 phiên gần nhất</span>
                                                </label>

                                            </div>
                                            <div class="form-check">

                                                <input class="form-check-input rd-nn-rong text-right" type="radio" name="nn-rong" id="rd-nn-ban-rong" value="1">
                                                <label class="form-check-label" for="rd-nn-ban-rong">
                                                    Bán ròng trong <span class="sp-sophien" style="width: 100% !important; display: unset;">5 phiên gần nhất</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 col-sm-6 col-6">

                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-nn-rong-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-nn-rong-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button type="button" style="color: #3b1b70;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Thêm điều kiện lọc khác
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="txt-eps-from" class="col-lg-1 col-sm-2 col-2 col-form-label text-left">EPS</label>
                                        <div class="col-lg-2 col-sm-5 col-5 mb-2">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-eps-from" />
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-5 col-5">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-eps-to" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txt-pe-from" class="col-lg-1 col-sm-2 col-2 col-form-label text-left">P/E</label>
                                        <div class="col-lg-2 col-sm-5 col-5 mb-2">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-pe-from" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-5 col-5">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-pe-to" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txt-vonhoa-from" class="col-lg-1 col-sm-2 col-2 col-form-label text-left">Vốn hóa</label>
                                        <div class="col-lg-2 col-sm-5 col-5">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-vonhoa-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-5 col-5">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-vonhoa-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="txt-doanhthu-4quy-from" class="col-lg-1 col-sm-3 col-3 col-form-label text-left">Doanh thu</label>
                                        <div class="col-lg-2 col-sm-9 col-9 mb-2">
                                            <select class="form-control" id="ddl-type-doanhthu-type">
                                                <option value="0">Quý hiện tại</option>
                                                <option value="1">Tổng 4 quý gần nhất</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-doanhthu-4quy-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-doanhthu-4quy-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="txt-loinhuan-4quy-from" class="col-lg-1 col-sm-3 col-3 col-form-label text-left">Lợi nhuận</label>
                                        <div class="col-lg-2 col-sm-9 col-9 mb-2">
                                            <select class="form-control" id="ddl-type-loinhuan-type">
                                                <option value="0">Quý hiện tại</option>
                                                <option value="1">Tổng 4 quý gần nhất</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Từ</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-loinhuan-4quy-from" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6">
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Tới</div>
                                                </div>
                                                <input type="number" class="form-control text-right" id="txt-loinhuan-4quy-to" />
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">tỷ</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="ddl-chiacotuc-tienmat" class="col-lg-1 col-sm-12 col-21 col-form-label text-left">Chia cổ tức tiền mặt</label>
                                        <div class="col-lg-3 col-sm-12 col-12">
                                            <select class="form-control" id="ddl-chiacotuc-tienmat">
                                                <option value="">Chọn mức chia cổ tức</option>
                                                <option value="1">Có chia cổ tức tiền mặt</option>
                                                <option value="500">Từ 500 trở lên</option>
                                                <option value="1000">Từ 1000 trở lên</option>
                                                <option value="1500">Từ 1500 trở lên</option>
                                                <option value="2000">Từ 2000 trở lên</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <br />
                    <div class="form-group row">
                        <div class="col-lg-12 col-sm-3 text-center">
                            <button type="button" class="btn btn-blue btn-search">Áp dụng lọc</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" id="grid-data">

                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .ddl-loc-cp-nganh optgroup {
        font-size: 15px;
    }

        .ddl-loc-cp-nganh optgroup option {
            font-size: 13px;
        }
</style>
@Scripts.Render("~/bundles/boloccophieu")